@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 20px;
  line-height: 1em;
}

.clearfix:after,
.nav-list:after {
  content: '';
  display: table;
  clear: both;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  margin: 1.5em auto 1.5em 0;
  max-width: 20em;
  font-size: 1.6em;
  line-height: 1.5;
  text-align: center;
}

header {
  background: #eee;
  position: fixed;
  top: 0;
  padding: .5em 0;
  width: 100%;
  z-index: 2;
}

.nav {
  max-width: 20em;
  margin: 0 auto;
  padding: 0.5em;
}

.nav-list {
  list-style: none;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-list>li {
  float: left;
}

.nav-list>li:last-child a {
  margin-right: 0;
}

.nav-list a {
  display: block;
  padding: 1em;
  margin: 0 1px 0 0;
  color: #fff;
  background: #888;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list-active {
  background: #555;
}

.content {
  margin: 6em auto 4em auto;
  max-width: 20em;
  z-index: 1;
}

ul.sports_list {
  margin: 0;
  padding: 0;
  max-width: 20em;
  margin-right: auto;
  margin-left: auto;
}

.animated.fadeIn {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  animation-delay: 0;
}

li.sport {
  list-style: none;
  cursor: pointer;
  text-align: center;
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  border-radius: 5px;
}

.reset {
  max-width: 15em;
  text-align: center;
  padding: 1em;
  margin: 1.5em auto;
  border: 1px solid black;
  border-radius: 5px;
}

.header_text,
.sports_list,
.joke_container,
.joke_header_text,
.joke_body,
.sms_container,
.sms_body {
  text-align: center;
}

p,
.joke_header_text {
  line-height: 2em;
}

.no-display {
  display: none;
}

.hidden {
  visibility: hidden;
}

.loader,
.loader:before,
.loader:after {
  background: black;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  border: 0 !important;
  color: black;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  padding: .5em 0;
  width: 100%;
  background: #eee;
  z-index: 2;
}

.footer>p {
  margin: 0 auto;
  max-width: 20em;
  text-align: center;
  font-size: 1em;
}

@media (min-width: 481px) {
  body {
    font-size: 16px;
    line-height: 1;
  }

  .content {
    margin: 8em auto 4em auto;
  }

  .content,
  .nav,
  ul.sports_list {
    max-width: 40em;
  }

  li {
    font-size: 150%;
  }

  h1 {
    margin: 1.5em auto 1.5em 0;
    font-size: 2em;
    line-height: 1.2em;
    max-width: 40em;
  }

  .footer > p {
    font-size: 1.5em;
  }
}
